body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 75px;
}

#photo-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 20%; /* Aligns the button at the bottom */
  left: 50%; /* Starts at the halfway point of the screen */
  transform: translateX(-50%); /* Centers the button horizontally */
  /* Ensure your button styling here */
}

img {
  max-width: 100%;
  max-height: 100%;
}
